.recent-notes {
  & > h2 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 0.5rem 0;

      .section {
        display: flex;

        & > .desc > h3 > a {
          background-color: transparent;
        }
  
        & > .meta {
          padding-right: 1em;
          margin: 0 0 0.5rem 0;
          opacity: 0.6;
        }
      }
    }
  }
}
