@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.article-title {
  font-size: 2rem;
  text-transform: capitalize;
}

/* capitalize recent notes title */
.recent-notes {
  & > ul.recent-ul {
    margin-bottom: 0rem;

    & > .recent-li {
      margin: 0;

      & h3 {
        font-size: 1rem;
        text-transform: capitalize;
      }
    }
  }

  & > .link-to-more {
    margin: 0 0 2rem;
  }
}

/* Make the sidebar narrower on tablet */
@media all and ($tablet) {
  .page {
    & > #quartz-body {
      grid-template-columns: 240px auto !important;

      & > .sidebar {
        padding-left: 0;
        padding-right: 1em;
        padding-top: 2rem;
      }

      // Also makes both sidebar and content to pad less space on top
      & .page-header {
        margin-top: 2rem;
      }
    }
  }
}

:root[saved-theme="dark"] #quartz-body img {
  background-color: white;
  filter: brightness(0.85) contrast(1.1);
}

// Larger font size on large desktop
@media all and (min-width: 1440px) {
  .page > #quartz-body > .center > article {
    font-size: 18px;
  }
}

// Lighter color for "broken" links

.dest-not-exist {
  $color: "rgb(from var(--secondary) r g b / .7)";
  color: unquote($color);
}
